---
layout: default
permalink: /f
header: false
title: Ada 4 fitur penting yang kami ditampilkan
description: fitur ini merupakan fitur utama dalam mempelajari ilmu perpajakan, yaitu resume, aspek pajak, lain-lain dan tanya jawab
---
<div class="py-4 sm:py-12">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
      {% comment %}
      <div class="pb-2">
        <nav class="flex items-center text-sm leading-5 font-medium">
          <a href="/components#product-marketing" class="text-gray-500 hover:text-gray-700 focus:outline-none focus:underline transition duration-150 ease-in-out">
            Marketing
          </a>
          <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
          <a href="/components#product-marketing-sections" class="text-gray-500 hover:text-gray-700 focus:outline-none focus:underline transition duration-150 ease-in-out">
            Page Sections
          </a>
        </nav>
      </div>
      {% endcomment %}
      <h2 class="flex self-center text-4xl font-bold sm:leading-9 text-headline-500">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path class="text-highlight-500 fill-current" d="M18 21H7a4 4 0 0 1-4-4V5c0-1.1.9-2 2-2h10a2 2 0 0 1 2 2h2a2 2 0 0 1 2 2v11a3 3 0 0 1-3 3zm-3-3V5H5v12c0 1.1.9 2 2 2h8.17a3 3 0 0 1-.17-1zm-7-3h4a1 1 0 0 1 0 2H8a1 1 0 0 1 0-2zm0-4h4a1 1 0 0 1 0 2H8a1 1 0 0 1 0-2zm0-4h4a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2zm9 11a1 1 0 0 0 2 0V7h-2v11z"/></svg>
         Katalog 
      </h2>
      <p class="font-sans text-sm text-gray-900 sm:leading-9 mt-4 mb-20">
        {{ page.description }}
      </p>
      
      {% assign menus = site.data.navigation.docs %}
      {% for menu in menus %}
      <div>
        <div class="pb-2">
          <div class="h-5"></div>
        </div>
        <h3 class="flex items-center mt-2 mb-3 text-2xl leading-8 font-semibold tracking-tight font-display text-gray-900 sm:text-3xl sm:leading-9" id="{{ cat.name }}">
          <a href="{{ menu.url }}" class="no-underline">{{ menu.title }}</a>
        </h3>
        <div class="mt-6">
          <div class="border-t flex content-center mb-3 border p-4 rounded-sm bg-orange-100 border-gray-200">
            <div>
              <span class="font-emoji mr-2">{{ menu.emoji }}</span>
            </div>
              <div>{{ menu.description }}</div>
          </div>
        </div>
        {% if menu.title == "Resume" %}
        <ul class="list-none mb-8">
            {% for childmenu in menu.children %}
            <li class="hover:bg-list py-1 mt-1 rounded focus:outline-none focus:underline">
                <a href="{{ childmenu.url }}" class="no-underline">{{ childmenu.title }} <span style="font-weight:600 mr-2">↓</span> </a>               
            </li>
            {% endfor %}
        </ul>
        {% elsif menu.title =="Aspek Pajak Industri"%}
        {% include list.html content="aspekpajak" %}

        {% elsif menu.title =="Lain-lain" %}
        {% include list.html content="lainlain" %}

        {% else %}
        <ul class="list-none mb-8">
            <li class="garisbawah hover:bg-list py-1 mt-1 rounded focus:outline-none focus:underline">
                <a href="{{ menu.url }}" class="flex no-underline"> 
                    👉 Link to trello
                </a>               
            </li>
        </ul>
        {% endif %}
        
      </div>
      {% endfor %}

    </div>
  </div>